*{
	margin: 0;
	padding: 0;
	font-family: tahoma;
}
a{
	text-decoration: none;
}
.header{
	width: 100%;
	background-color: #7B3175;
	height: auto;
	text-align: center;
}
.header-left{
	width: 70%;
	float: left;
	text-align: left;
}
.header-left img{
	width:100px;
	height: 100px;
	float: left;
	margin-left: 10%;
	margin-top: 0px;
	border: 4px solid #72146A;
	border-radius: 50%;
	padding: 2px;
	box-shadow:0px 0px 4px #7B3175;

}

.search-area{
	width: 30%;
	float: left;
	margin-top: 30px;
}
.search-area input{
	display: none;
	width: 50%;
	padding: 5px 0;
}
.search-area i{
	color: white;
}
.header h1{
	color: #c0f;
	text-shadow: 0px 0px 10px  black;
	font-size: 30px;
	float: left;
	margin-top: 30px;
	text-align: center;
	margin-left: 10%;
	
}
.header-left{
	content: '';
	display: block;
	clear: both;
}
.header p{
	color: white;
	font-size: 20px;
	animation: any 10s infinite;
	clear: both;
	text-align: center;
	float: right;

}
.header:after{
	content: '';
	display: block;
	clear: both;
}


.menu{
	width: 100%;
	margin-top: 0px;
	background-color: #6b2165;
	height: 42px;
	position: sticky;
	top: 0;
	z-index: 1111;
}
.menu ul{
	list-style: none;
	text-align: center;
}
.menu ul li{
	display: inline-block;
	width: 200px;
	
}
.menu ul li a{
	text-decoration: none;
	display: block;
	padding: 10px;
	color: #fff;
	font-size: 20px;
	transition: .5s;
	border-bottom: 2px solid transparent;
}

.menu ul li a:hover{
	background-color: #ddd;
	border-bottom: 2px solid #7B3175;
	color: blue;
}
.products{
	width: 100%;
	margin-top: 50px;
}

.tabs{
	width: 50%;
	float: left;
	margin-right: 40px;
	background: none;
}
.tabs ul{
	border: 1px solid black;
	width: 70%;

}
.tabs ul li{
	font-size: 15px;
	width: 113px;
	
}
.tabs h1{

}
.tabs .video{
	width: 40%;
	float: left;
}
.products:after{
	content: '';
	display: block;
	clear: both;
}
.footer{
	text-align: center;
	color: blue;
	margin-top: 20px;
}
.my-acc{
	width: 60%;
	margin: auto;
}
.my-acc h1{
	color: green;
}




.box{
	margin:30px auto;
	width: 1100px;
	position: relative;
	margin: auto;
	padding:0 10px;
	margin:5px auto;
	border: 2px solid #7B3175;
	padding: 10px;
	border-radius: 5px;
	z-index: 111;
}
.gal1{
	margin:30px auto;
	width: 1100px;
	position: relative;
	margin: auto;
	padding:0 10px;
	margin:5px auto;
	border: 2px solid #7B3175;
	padding: 10px;
	border-radius: 5px;
	z-index: 111;
}
.box img {
	width: 100%;
	height: 400px;
	border-radius: 5px;
}
.gal img {
	width: 100%;
	height: 400px;
	border-radius: 5px;
}
.box .owl-prev{
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	text-align: center;
	padding: 15px;
	background-color: rgba( 0,0,0,.6);
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 10px;
	margin: auto;
	color: #fff;
}
.box .owl-next{
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 30px;
	text-align: center;
	padding: 15px;
	background-color: rgba( 0,0,0,.6);
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 10px;
	margin: auto;
	color: #fff;
}
.teams{
	width: 300px;
	margin: 20px auto;
	height: 300px;
	z-index: 111;
}
.teams img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: 0px 0px 10px 5px black;
}
.teams h1{
	font-size: 20px;
	font-family: tahoma;

}
.teams p{
	font-size: 20px;
	text-align: center;

}
.services{
	margin-top: 5%;
	display: none;
}
.services h2{
	font-size: 50px;
	animation: h2 10s infinite;
	width: 50%;
	text-align: center;	
	margin: auto;
	text-shadow: 0px 2px 10px black;

}
.services h1{
	font-size: 20px;
	text-align: center;
	color:#FAA2A2;

}
.services p{
	font-size: 15px;
	text-align: center;
}
@keyframes h2{
	0%{
		transform:scale(1.2);
	}
	50%{
		transform: scale(.6);
	}
	100%{
		transform: scale(1);
	}
}


.service-1{
	width: 32%;
	float: left;
}
.service-2{
	width: 32%;
	float: left;
}
.service-3{
	width: 32%;
	float: left;
	width: 33.3%;
	border-right: 2px solid black #8B0000;
}
.services:after{
	content: '';
	display: block;
	clear: both;
}

/* sign up page */

.sign_form{
	width: 80%;
	margin: auto;
	text-align: center;
}
form#logform{
   
	

	
}
table{
	margin-left: 300px;
}

form#logform input{
	width: 200px;
	padding: 10px 15px;
}
form#logform textarea{
	width: 100%;
	margin-top: 10px;
}
form#logform input.btn{
	width:150px;
	cursor:pointer;
	border:1px solid green;
	border-radius:5px;
	background-color: green;
	color:black;
	font-size: 20px;
	transition: .5s;
}
form#logform input.btn:hover{
	color: #fff;
}
/* p#name{
	animation: name 10s infinite;
}
@keyframes name{
	0%{
		transform: rotate(10deg);
	}
	50%{
		transform: rotate(0deg);
	}
	75%{
		transform: rotate(-10deg);
	}
	100%{
		transform: rotate(0deg);
	}
} */
form#logform h2{
	background-color: black;
}


/* sign up page */
.footer-menu{
	margin-top: 20px;
	background-color: #6B2165;
	text-align: center;
}
.footer-menu ul{	
	width: 80%;
	list-style: none;
	margin: auto;
	
}
.footer-menu ul li {
	border-bottom: 1px solid black;
	
}
.footer-menu ul li a{
	text-decoration: none;
	font-size: 30px;
	display:block;
	color: #f5eeee;
}
.footer-menu ul li a:hover{
	background-color: #ddd;
	color: black;
}
.footer i{
	font-size: 30px;
	color: #8B0000;
	margin: 5px;
}
.footer i:hover{
	transform: rotate(30deg);
	color: blue;
}


/* Responsive design homepage */

@media screen and (min-width: 320px) and (max-width: 426px){
	body{
		width: 95%;
		margin: auto;
	}
  .header{
  	width: 100%;
  }
  .header-left{
  	width: 100%;


  }
  .header-left h1{
  	font-size: 20px;
  	margin-left: 0px;
  	margin-top: 20px;
  }
  .header-left img{
	margin-left: 28%;

  }
.search-area{
	width: 70%;
	margin-left: 20%;
	margin-top: 10px;
}
.menu{
	width: 100%;
	height: 270px;
	margin-bottom: 0px;
}
.menu ul li{

}
.menu ul li a{

}
.owl-carousel{
	width: 99%;
	border: 0px;
	margin-left: -10px;
	margin-top: 0px;
}

.teams img{
	width:200px;
	height: 200px;
	margin-left: 18%;
}
.services{
	margin-top: 0px;
}
.services h2{
	font-size: 15px;
}
.service h1{
	font-size: 20px;
	color: black;
}
.products{

}
.tabs{
	width: 97%;
}
.tabs .button ul{
	margin-left: 10%;
}
.button ul li{
	width: 62px;

}
.products .video{
	width: 100%;
}
.products .video iframe{
	width: 100%;
}
.footer-menu{
	width: 100%;
	border: 0px;
}
/*gallery page*/
.gal{
	width: 94%;
	margin-top: 20px;
	overflow: hidden;
}
.gal:after{
	content: '';
	display: block;
	clear: both;
}
.box1{
	
	
}
.gal .image{
	width: 50%;
	
}
.gal .image{
	width: 50%;
	height: 100px;
}
.list{

}
.list .image{
	margin: 0 25%;
}
.list .image img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.list .text{
	margin-top: 20px;
	font-size: 20px;
	margin-left: 5%;
	text-align: justify;
}
/*gallery page*/

/*sign up page*/
table{
	width: 350px;
	margin: 0 auto;
}
.sign_form{
	width: 100%;

}
form#logform{
	
	
}
.sign_form input{
	width: 100%;

}
.sign_form p{
	font-size: 15px;
}
/*sign up page*/

/*mix gallery */
.images .product {
	height:100px;
}
/*mix gallery */
}
@media screen and (min-width: 427px) and (max-width: 767px){
body{
	width: 98%;
	margin: auto;
	}
  .header{
  	width: 100%;
  }
  .header-left{
  	width: 100%;


  }
  .header-left h1{
  	font-size: 20px;
  	margin: 0 5%;
  	margin-top: 20px;
  }
  .header-left img{
	margin: 0% 30%;

  }
.search-area{
	width: 70%;
	margin-left: 20%;
	margin-top: 10px;
}
.menu{
	width: 100%;
	height: 150px;
	margin-bottom: 0px;
}
.menu ul li{

}
.menu ul li a{

}
.owl-carousel{
	width: 99%;
	border: 0px;
	margin-left: -10px;
	margin-top: 0px;
}

.teams img{
	width:200px;
	height: 200px;
	margin-left: 18%;
}
.services{
	margin-top: 0px;
}
.services h2{
	font-size: 15px;
}
.service h1{
	font-size: 20px;
	color: black;
}
.products{

}
.tabs{
	width: 97%;
}
.tabs .button ul{
	margin-left: 10%;
}
.button ul li{
	width: 62px;

}
.products .video{
	width: 100%;
}
.products .video iframe{
	width: 100%;
}
.footer-menu{
	width: 100%;
	border: 0px;
}
/*gallery page*/
.gal{
	width: 94%;
	margin-top: 20px;
	overflow: hidden;
}
.gal:after{
	content: '';
	display: block;
	clear: both;
}
.box1{
	
	
}
.gal .image{
	width: 25%;
}
.gal .image img{
	height: 100px;
}
.list{

}
.list .image{
	margin: 0 25%;
}
.list .image img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.list .text{
	margin-top: 20px;
	font-size: 20px;
	margin-left: 5%;
	text-align: justify;
}
/*gallery page*/

/*mix gallery */
.images .product {
	height:150px;
}
/*mix gallery */

/*sign up page*/
table{
	width: 350px;
	margin: 0 auto;
}
.sign_form{
	width: 100%;

}
form#logform{
	
	
}
.sign_form input{
	width: 100%;

}
.sign_form p{
	font-size: 15px;
}
/*sign up page*/
}


@media screen and (min-width: 623px) and (max-width: 767px){
	.menu{
		height: 100px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px){

body{
	width: 98%;
	margin: auto;
}
  .header{
  	width: 100%;
  }
  .header-left{
  	width: 100%;


  }
  .header-left h1{
  	font-size: 30px;
  	margin: 0 20%;
  	margin-top: 20px;
  }
  .header-left img{
	margin: 0% 40%;

  }
.search-area{
	width: 70%;
	margin-left: 20%;
	margin-top: 10px;
}
.menu{
	width: 100%;
	height: 50px;
}
.menu ul li{
	width: 110px;
}
.menu ul li a{

}
.owl-carousel{
	width: 99%;
	border: 0px;
	margin-left: -10px;
	margin-top: 0px;
}

.teams img{
	width:200px;
	height: 200px;
	margin-left: 18%;
}
.services{
	margin-top: 0px;
}
.services h2{
	font-size: 15px;
}
.service h1{
	font-size: 20px;
	color: black;
}
.products{

}
.tabs{
	width: 97%;
}
.tabs .button ul{
	margin-left: 10%;
}
.button ul li{
	width: 62px;

}
.products .video{
	width: 100%;
}
.products .video iframe{
	width: 100%;
}
.footer-menu{
	width: 100%;
	border: 0px;
}
/*gallery page*/
.gal{
	width: 94%;
	margin-top: 20px;
	overflow: hidden;
}
.gal:after{
	content: '';
	display: block;
	clear: both;
}
.box1{
	
	
}
.gal .image{
	width: 50%;
	
}
.gal .image{
	width: 25%;
}
.gal .image img{
	height: 150px;
}
.list{

}
.list .image{
	margin: 0 25%;
}
.list .image img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.list .text{
	margin-top: 20px;
	font-size: 20px;
	margin-left: 5%;
	text-align: justify;
}
/*gallery page*/
/*mix gallery */
.images .product {
	height:150px;
}
/*mix gallery */
/*sign up page*/
table{
	width: 600px;
	margin: 0 auto;
}
.sign_form{
	width: 100%;

}
form#logform{
	
	
}
.sign_form input{
	width: 100%;

}
.sign_form p{
	font-size: 15px;
}
/*sign up page*/
}
@media only screen and (min-width: 1025px)and (max-width: 1359px){
	body{
	width: 98%;
	margin: auto;
}
  .header{
  	width: 100%;
  }
  .header-left{
  	width: 100%;


  }
  .header-left h1{
  	font-size: 30px;
  	margin: 0 20%;
  	margin-top: 20px;
  }
  .header-left img{
	margin: 0% 40%;

  }
.search-area{
	width: 70%;
	margin-left: 20%;
	margin-top: 10px;
}
.menu{
	width: 100%;
	height: 50px;
}
.menu ul li{
	width: 110px;
}
.menu ul li a{

}
.owl-carousel{
	width: 99%;
	border: 0px;
	margin-left: -10px;
	margin-top: 0px;
}

.teams img{
	width:200px;
	height: 200px;
	margin-left: 18%;
}
.services{
	margin-top: 0px;
}
.services h2{
	font-size: 15px;
}
.service h1{
	font-size: 20px;
	color: black;
}
.products{

}
.tabs{
	width: 97%;
}
.tabs .button ul{
	margin-left: 10%;
}
.button ul li{
	width: 62px;

}
.products .video{
	width: 100%;
}
.products .video iframe{
	width: 100%;
}
.footer-menu{
	width: 100%;
	border: 0px;
}
/*gallery page*/
.gal{
	width: 94%;
	margin-top: 20px;
	overflow: hidden;
}
.gal:after{
	content: '';
	display: block;
	clear: both;
}
.box1{
	
	
}
.gal .image{
	width: 50%;
	
}
.gal .image{
	width: 25%;
}
.gal .image img{
	height: 200px;
}
.list{

}
.list .image{
	margin: 0 25%;
	width: 200px;
	height: 200px;
}
.list .image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.list .text{
	margin-top: 20px;
	font-size: 20px;
	margin-left: 5%;
	text-align: justify;
}
/*sign up page*/
table{
	width: 700px;
	margin: 0 auto;
}
.sign_form{
	width: 100%;

}
form#logform{
	
	
}
.sign_form input{
	width: 100%;

}
.sign_form p{
	font-size: 15px;
}
/*sign up page*/
/*gallery page*/
/*mix gallery */
.images .product {
	height:200px;

}
/*mix gallery */
}




/* Responsive design homepage */